.NewsList {
  width: 768px;
  margin: 0 auto;
  margin-top: 2rem;
  box-sizing: border-box;
  padding-bottom: 3rem;
  background-color: bisque;
}

.NewsItem {
  display: flex;
  background-color: rgb(157, 173, 143);
  .thumbnail {
    margin-top: 1rem;

    img {
      display: block;
      width: 400px;
      height: 200px;
      object-fit: cover;
    }
  }
  .content {
    h1 {
      margin: 0;
      a {
        color: black;
        text-decoration: none;
      }
    }
    p {
      margin: 0;
      line-height: 1.5;
      margin-top: 0.5rem;
      white-space: nomal;
    }
  }
  & + & {
    margin-top: 3rem;
  }
}
