.TodoInsert {
  display: flex;
  background: rgb(179, 165, 122);
  input {
    background: rgb(223, 223, 151);
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: white;
    &::placeholder {
      color: lightcoral;
    }
    flex: 1;
  }
  button {
    background: none;
    outline: none;
    border: none;
    background: rgb(219, 211, 90);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s background ease-in;
    &:hover {
      background: rgb(219, 200, 23);
    }
  }
}
